.login
{
    width: 300px;
    height: 350px;
    background-color: white;
    margin-left: 40%;
    margin-top: 8%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}
.title
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #06BBCC;
    width: 300px;
    height: 80px;
    padding-left: 10%;
    padding-top: 12%;
}
.contents
{

    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding-left: 10%;
    padding-top: 10%;
    
}
#login-form
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
#login-form input
{
    width: 80%;
    
    
}
#login-form button
{
    width: 80%;
    border: none;
    background-color: #06BBCC;
    height: 40px;
    color: white;
}
#login-form button:hover
{
    background-color: #32bfcc;
}

.signup
{
    width: 550px;
    height: 450px;
    background-color: white;
    margin-left: 30%;
    margin-top: 6%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}
.title
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #06BBCC;
    width: 600px;
    height: 80px;
    padding-left: 10%;
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.contents
{

    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    padding-left: 10%;
    padding-top: 6%;
    
}
.one
{
    font-size: medium;
    width: 100%;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
#signup-form
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
#signup-form input 
{
    width: 110%;
    height: 40%;
    
}
#signup-form button
{
    width: 90%;
    border: none;
    background-color: #06BBCC;
    height: 40px;
    color: white;
}
#signup-form button:hover
{
    background-color: #32bfcc;
}
.left
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right
{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.inner-form
{
    display: flex;
    flex-direction: row;
    gap: 55px;
}
select
{
    width: 110%;
    height: 40%;
}

.otp {
    width: 300px;
    height: 250px;
    background-color: white;
    margin-left: 40%;
    margin-top: 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); 
  }
.otp-title
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #06BBCC;
    width: 300px;
    height: 80px;
    padding-left: 10%;
    padding-top: 12%;
}
.otp-contents
{

    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding-left: 10%;
    padding-top: 10%;
    
}
#otp-form
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
#otp-form input
{
    width: 80%;
    
    
}
#otp-form button
{
    width: 35%;
    border: none;
    background-color: #06BBCC;
    height: 40px;
    color: white;
}
#otp-form button:hover
{
    background-color: #32bfcc;
}
.btn-div-otp
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
