{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/otp.css' %}">
<div class="message" id="message-container">
  {% if messages %}
    {% for message in messages %}
      {% if forloop.last %} {# Check if it's the first message #}
        <div class="message-box {{ message.tags }}-box">
          <p>{{ message }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<div>
  <div class="otp">
    <div class="otp-title"><p>VALIDATE</p></div>
    <div class="otp-contents">
      <form id="otp-form" action="" method="post">
        {% csrf_token %}
        <input type="otp" name="otp" placeholder="Enter otp">
        
        <div class="btn-div-otp">
          <button name="submit" type="submit">SUBMIT</button>
          <button name="resend" type="submit">RESEND</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/otp.js' %}" ></script>

{% endblock content %}
