{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}
<div>
    <div class="signup">
        <div class="title"><p>SIGNUP</p> {% if messages %}{% for message in messages %}<p class="one">{{ message }}</p>{% endfor %}{% endif %}</div>
        <div class="contents">
            <form id="signup-form" action="" method="post">
                {% csrf_token %}
                <div class="inner-form">
                    <div class="left">
                        <input name="fname" type="text" placeholder="First Name" required>
                        <input name="lname" type="text" placeholder="Last Name" required>
                        <input name="email" type="text" placeholder="Email" required>
                        <input name="phone" type="text" placeholder="Phone" required>
                        </div>
        
                        <div class="right">
                        <select name="gender" id="" required>
                            <option value="" selected disabled >Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="Not Applicable">Not Applicable</option>
                        </select>
                        <select id="country" name="country" required>
                            <option value="" selected disabled>Select your country</option>
                            <option value="us" >United States</option>
                            <option value="fr" >France</option>
                            <option value="in" >India</option>
                            <option value="jp" >Japan</option>
                            <option value="br" >Brazil</option>
                          </select>
                        <input required name="program" type="text" placeholder="Program Enrolled">
                        <input required name="password" type="password" placeholder="Password">
                        </div>
                </div>
                <button type="submit">SIGNUP</button>
            </form>
            
            <p>Already Registered? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
  </div>
{% endblock content %}